.contact-us {        
     form input[type="text"],
     form input[type="email"] {
      margin-bottom: 20px;
      border: none;
      box-shadow: none;
      border-bottom: 1px solid #e0e0e0;
      border-radius: 0
    }
    
     form textarea {
      height: 178px;
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid #e0e0e0;
    }

    button {
      @include media-breakpoint-down(md) {
        display: block;
        width: 100%;
      }
    }
    
  }