.navbar {
  // height: 1rem;
  position: fixed;
  width: 100%;
  display: flex;
  align-content: space-between;
  background: white;
  z-index: 999;
  img {
    width: 1.5em;
    max-height: 100%;
    margin-right: 0.5em;
  }
  .logo {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color: #3c6e71;
    text-decoration: none;
  }
  .menu img {
    width: 2em;
  }

}
