.team {
    padding: 7rem 0;
    .vertical-text h5 {
        transform: rotate(-90deg);
        position: absolute;
        top: 2em;
        left: -4.5em;
        word-spacing: 0.5em;
        color: $primary;
  }
  .about-left h2 {
    line-height: 2em;
    font-weight: lighter;
  }
  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background-color: rgba($dark, 0.8);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;
  }
  .member {
    .overlay{
      display: flex;
    flex-direction: column;
    justify-content: center;
    }
    &:not(:last-of-type()) {
      margin-right: 1rem;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &:hover .overlay {
      visibility: visible;
      opacity: 1;
    }
  }
}