.contact-us {
    padding: 80px 0
  }
  
  @media (max-width: 991px) {
    .contact-us {
      padding: 40px 0
    }
  }
  
  .contact-us .contact-desc {
    color: #a9aaac;
    margin-bottom: 40px
  }
  
  .contact-us form input[type="text"],
  .contact-us form input[type="email"] {
    margin-bottom: 20px;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0
  }
  
  .contact-us form textarea {
    height: 178px;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  