/* Start Social Section */

.social-section {
    padding: 10px;
    -webkit-box-shadow: -2px -5px 13px #000;
    -moz-box-shadow: -2px -5px 13px #000;
    -o-box-shadow: -2px -5px 13px #000;
    box-shadow: -2px -5px 13px #000
  }
  
  @media (max-width: 991px) {
    .social-section {
      text-align: center
    }
  }
  
  .social-section h4 {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  @media (max-width: 991px) {
    .social-section h4 {
      margin-bottom: 10px
    }
  }
  
  .social-section p {
    color: #a1a1a1;
    line-height: 1.4;
    font-size: large;
  }
  
  .social-section i {
    color: #CCC;
    margin: 20px 15px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer
  }
  
  @media (max-width: 991px) {
    .social-section i {
      margin: 10px 15px;
    }
  }
  
  .social-section .fa-facebook:hover {
    color: #3b5998
  }
  
  
  .social-section .fa-instagram:hover {
    color: #f77737
  }
  
  .social-section .fa-github:hover {
    color: #262626
  }
  